<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Social Network Project</title>
  </head>
  <body>
    <h1>Just for testing purposes, rest of files are in .gitignore</h1>
    <form method="POST">
      <input type="submit" value="Register" formaction="/register" />
      <input type="submit" value="Login" formaction="/login" />
    </form>
  </body>
</html>
